body {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(226, 88, 111);
    background: linear-gradient(rgb(96, 96, 102), rgb(3, 3, 3))
    
}

*, *::after, *::before {
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(175, 173, 173);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}
header img {
    width: 72px;
    height: 72px;
   /* margin: 5px auto;*/
    margin-right: 20px;
}
.menu_wrapper{
    display: flex;
}
.menu_wrapper a {
    text-decoration: none;
    color: rgb(122, 121, 121);
    opacity: 0.7;
    margin-right: 20px;
    white-space: nowrap;
}
.menu_wrapper a:hover {
    font-size: bold;
    color: rgb(247, 150, 166);
}
/*section class="block1" start*/

.block1{
    display: flex;
    flex-flow: column;
    position: relative;

}
.block1 h1 {
    margin: 0px auto;
    font-weight: 700;
    font-size: 60px;
    line-height: 96px;
    text-shadow: -5px 5px 0px rgb(255, 254, 254);
    padding: 5px;
}
.block1 p {
    font-weight: 400px;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    
}
.block1 button {
    width: 140px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    font-family: "Syne", sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: none;
}
.block1 button:hover {
    color: pink;
    font-size: bold;
}
.block2 {
    background: url(../verstka2/images/rebyata.jpg);
}
.section__team {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}
.section__team h2 {
    margin: 0px auto;
    opacity: 0.9;
}
.section__team h3 {
    margin: 20px auto;
    opacity: 0.9;
}
.section__team button {
    width: 160px;
    margin: 0px auto;
    border-radius: 25px;
    background-color: rgb(29, 28, 28);
    color: white;
    cursor: pointer;
    opacity: 0.9;
    margin-bottom: 40px;
}
.team__wrraper { 
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 50px;
    padding-bottom: 100px;
    
}
.team__wrraper img {
    width: 40%;
    border: 3px solid rgb(233, 229, 229);
    border-radius: 3%;
}
.team__wrraper p {
    color: white;
    
}
.gallery {
    display: flex;
}
.gallery img {
    width: 80%;
}

.menu a{
    display: block;
    margin: 20px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}
.gallery2 {
    display: flex;
}
.gallery2 img {
    width: 100%;
    margin-top: 0px;
}

.menu2 a{
    display: block;
    margin: 20px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    padding-right: 500px;
    padding-left: 30px;
}
.menu2 a:hover,.menu a:hover {
    color: silver;
}
.footer {
    width: 100%;
    height: 400px;
    background-color: black;
}